*{
    padding: 0%;
    margin: 0%;
}
.navigational{
    width: 100vw;
    height: 15vh;
    background-color: black;
    display: flex;
}
a{
    color: white;
    font-style: italic;
}
.navigational li{
    color: white;
    font-size: 50px;
    margin-left: 230px;
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    background-color: white;
}
.box1{
    margin-left: 20px;
    width: 20vw;
    height: 25vh;
    border-radius: 15px;
    background-color: black;
    transition-property: width;
    transition-duration: 2s;
    display: flex;
    justify-content: center;
}
.box1:hover{
    width: 23vw;
}
.container1 img{
    width: 50px;
    height: 50px;
    transition-property: width height;
    transition-duration: 2s;
}
.container1 img:hover{
    width: 100px;
    height: 100px;
}
.box1 p{
    color: rebeccapurple;
    margin-top: 80px;
}
#animationboximage{
    border-radius: 15px;
}